 h1 {
     text-align: center;
     font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
     color: black;
 }
 
 a {
     color: black;
     text-decoration-line: none;
 }
 
 img {
     align-items: center;
 }
 
 body {
     font-size: 15px;
     background-color: pink;
 }
 
 .card-holder {
     margin: 2em 0;
 }
 
 .card {
     font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
     font-size: 3em;
     font-weight: 800;
     height: 4em;
     width: 64em;
     padding: 0.5em 1em;
     border-radius: 0.25em;
     display: table-cell;
     vertical-align: middle;
     letter-spacing: -2px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 
 .card .subtle {
     color: #000;
     font-size: 0.5em;
     font-weight: 400;
     letter-spacing: -1px;
 }
 
 .card i {
     font-size: 3em;
 }