@import url("https://fonts.googleapis.com/css?family=Modak");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151515;
    text-align: center
}

.text {
    height: 200px;
    display: inline-block;
    font-size: 200px;
    line-height: 84%;
    font-family: Modak;
    padding-left: 7px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: calc(50vh - 100px);
    text-shadow: 7px 7px 0px #d2d2d22e;
}

.text-1 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23f5576c' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23f093fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fee140' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}

.text-2 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%238fd3f4' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%2396e6a1' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23d4fc79' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}

.text-3 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23cd9cf2' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23c2e9fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%2366a6ff' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}

.text-4 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%230fd850' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%2320E2D7' flood-opacity='1' x='80px' y='160px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fbed96' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}

p1 {
    font-family: cursive;
    color: hotpink;
    font-size: 20pt;
}

p2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

div.a {
    text-align: center;
}

div.solid {
    border: 8px;
    border-style: double;
    color: hotpink;
}

div.b {
    text-align: left;
}

div.ind {
    text-indent: 30px;
}

img {
    width: 250px;
    height: 250px;
    float: center;
    margin: 0px 15px 15px 0px;
}

.regular {
    width: 1000px;
    height: 220px;
    float: center;
    margin: 0px 15px 15px 0px;
}

a:link {
    background-color: none;
}

a:visited {
    background-color: white;
}

a:hover {
    background-color: hotpink;
}

a:active {
    background-color: white;
}

div.s {
    border: 8px;
    border-style: double;
    color: hotpink;
}

h2 {
    text-align: center;
}

div.h {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.TextWrap {
    height: 350px;
    width: 450px;
    float: right;
    margin: 20px;
    border: 7px;
    border-style: dotted;
    color: goldenrod;
}

.TextWrapLeft {
    height: 350px;
    width: 450px;
    float: left;
    margin: 20px;
    border: 7px;
    border-style: dotted;
    color: goldenrod;
}

p5 {
    font-size: 20px;
}

p6 {
    font-size: 20px;
}

div.align {
    height: 270px;
    width: 370px;
    float: left;
    margin: 20px;
}

div.r {
    font-family: 'Playfair Display', serif;
}

div.z {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.column {
    float: left;
    padding: 15px;
    width: 25%;
    height: 500px;
    width: 500px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: #d2d2d22e;
    color: hotpink;
}

.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: alias;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #d2d2d22e;
}

.button1:hover {
    background-color: #d2d2d22e;
    color: white;
}

h1 {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 50px;
    font-weight: normal;
    line-height: 54px;
    margin: 0 0 54px;
}

p {
    color: white;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 28px;
}

p:first-of-type {
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 28px;
}

a {
    color: #c73036;
    font-family: Georgia, serif;
    text-decoration: underline;
}

a:hover {
    color: #333333;
    text-decoration: underline;
}

.author {
    color: #8d8d8d;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 28px;
}

.author a {
    color: #c73036;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}